[workspace]
resolver = "1"
members = [
    "game",
    "ring",
    "display"
]
exclude = [
]

[profile.dev.package."*"]
opt-level = 3

[workspace.dependencies]
log = "0.4.29"
logger = {git = "https://github.com/Bowarc/Crates.git", package = "logger"}
time = {git = "https://github.com/Bowarc/Crates.git", package = "time"}
random = {git = "https://github.com/Bowarc/Crates.git", package = "random"}
maths = {git = "https://github.com/Bowarc/Crates.git", package = "maths"}
neat = { version = "1.0.1",  features = ["serde"] }
serde_json = "1.0.149"
genetic-rs = { version = "1.2.1", features = ["derive"] }
